<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/cadastroAluno.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cadastro Aluno</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-info text-white">

                <form>
                    <div class="text-center">
                        <h1>CADASTRO DE ALUNO</h1>
                    </div>
                    <div class="mb-2">
                        <label for="inputName" class="form-label">Nome Completo</label>
                        <input type="text" class="form-control" id="inputName">
                    </div>
                    <div class="mb-2">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="mb-2 c">
                      <label for="inputCpf" class="form-label" style="width: 100%">CPF</label>
                      <input type="text" class="form-control" id="inputCpf">
                    </div>
                    <div class="mb-2 c">
                        <label for="inputRG" class="form-label">RG</label>
                        <input type="text" class="form-control" id="inputRG">
                    </div>
                    <div class="mb-2 ">
                        <label for="inputEndereço" class="form-label">Rua</label>
                        <input type="text" class="form-control" id="inputEndereço">
                    </div>
                    <div class="mb-2 c">
                        <label for="inputEndereço" class="form-label">Complemento</label>
                        <input type="text" class="form-control" id="inputEndereço">
                    </div>
                    <div class="mb-2 c">
                        <label for="inputEndereço" class="form-label">Bairro</label>
                        <input type="text" class="form-control" id="inputEndereço">
                    </div>
                    <div class="mb-2 c">
                        <label for="inputInstituicao" class="form-label">Instituição de Ensino</label>
                        <input type="text" class="form-control" id="inputInstituicao">
                    </div>
                    <div class="mb-2 c">
                        <label for="inputCurso" class="form-label">Curso</label>
                        <input type="text" class="form-control" id="inputCurso">
                    </div>
                    <div class="mb-2 ">
                        <label for="inputSenha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="inputSenha">
                    </div>
                    <div class="text-center t">
                        <button type="submit" class="btn btn-dark"><b>CRIAR CONTA</b></button>
                    </div> 
                    <div class="text-center t">
                        <h6>Já possui uma conta? Logar!</h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html> 
