<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-info text-white">

                <form>
                    <div class="text-center">
                        <h1>LOGIN</h1>
                    </div>
                    <div class="mb-2 ">
                        <label for="inputName" class="form-label">Nome Completo</label>
                        <input type="text" class="form-control" id="inputName">
                    </div>
                    <div class="mb-2">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="mb-2">
                      <label for="inputPassword4" class="form-label">Senha</label>
                      <input type="password" class="form-control" id="inputPassword4">
                    </div>
                    <div class="text-center t">
                        <button type="submit" class="btn btn-dark"><b>FAZER LOGIN</b></button>
                    </div> 
                    <div class="text-center t">
                        <h6>Não tem uma conta? Cadastre-se!</h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html> 
